{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "Windows Admin Password",
            "question_description": "",
            "required": true,
            "type": "password",
            "variable": "windows_admin_password",
            "min": 5,
            "max": 32,
            "default": "{{ controller_admin_password }}",
            "new_question": true,
        }
    ]
}
